@using SoftwareBookList.Models;
@model UserProfileViewModel;

@{
    Layout = "_Layout";
}

<div class="container mt-5">

    <div class="row">

        <div class="col-md-3">

            <h2>Profile Picture</h2>

            @if (!string.IsNullOrEmpty(Model.ProfilePicture))
            {
                @* Added a timestamp to make it so, when a user uploads a new image, it updates right away. *@
                <img width="200" src="@(Model.ProfilePicture.Replace("wwwroot", "") + "?timestamp=" + DateTime.Now.Ticks)" alt="Profile Picture" />
            }

        </div>

        <div class="col-md-9">

            <p><strong>UserName:</strong> @Model.UserName</p>


            <p><strong>Bio:</strong> @Model.Bio</p>


            <p><strong>Birthday:</strong> @Model.Birthday.ToShortDateString()</p>

            <a asp-controller="UserProfile" asp-action="EditProfile" class="btn btn-primary">Edit Profile</a>

        </div>

    </div>

</div>

<!-- Activity Feed Section -->
<div class="container mt-5">
    <h2>Activity Feed</h2>
    <ul class="list-group">
        <!-- Add user's activity feed items here -->
        <li class="list-group-item">Activity 1</li>
        <li class="list-group-item">Activity 2</li>
    </ul>
</div>


<div class="container mt-6">

    <h2>Favorite Software Book</h2>

    <div class="row">

        <div class="col-md-6 border border-3 box-shadow mb-2">

            <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">

                <div class="carousel-inner">

                    @if (Model.BooksInList != null && Model.BooksInList.Any())
                    {
                        @for (int i = 0; i < Model.BooksInList.Count; i++)
                        {
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <img src="@Model.BooksInList[i].ThumbnailLink" class="d-block w-50" alt="@Model.BooksInList[i].Title">
                            </div>
                        }
                    }
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>

    </div>

</div>